.projectcard {
  width: 48%;
  height: 340px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;

  &__title {
    font-family: 'Anton';
    z-index: 2;
    color: antiquewhite;
    text-shadow: 2px 1px 3px $primaryBlack;
    text-align: left;
    width: 100%;
    padding-left: 3%;
  }

  &__description {
    font-family: 'Nunito-Light';
    z-index: 1;
    padding-left: 3%;
    color: $primaryLight;
    background: linear-gradient(to top, rgba(52, 49, 49, 0.2), rgba(52, 49, 49, 0.7));
  }

  &__button {
    width: 120px;
    height: 30px;
    background-color: $primaryColor;
    color: $primaryLight;
    box-shadow: 1;
    border: none;
    z-index: 1;
    cursor: pointer;
    margin: 3%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}
