.projects {
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 10;

  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
}
