@font-face {
    font-family: "Nunito-Light" ;
    src: url(../../assets/fonts/Nunito-Light.ttf);
}

@font-face {
    font-family: "Nunito-Medium" ;
    src: url(../../assets/fonts/Nunito-Medium.ttf);
}

@font-face {
    font-family: "Nunito-SemiBold" ;
    src: url(../../assets/fonts/Nunito-SemiBold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Paytone+One&family=Raleway:wght@600&family=Roboto:wght@300;500&display=swap');