// Colors
$primaryBlack: rgb(7, 6, 6);
$primaryLight: rgb(255, 234, 198);
$primaryColor: rgb(0, 32, 2);
$secondaryColor: #cb997e;
$tertiaryColor: #ddbea9;

// Fonts
$typotitle : "Nunito-Semibold";
$typomain: "Nunito-Medium";
$typospecial: "Nunito-Light";
$primaryFont: 'Anton'; 
$secondaryFont :'Playfair Display';
